.photo-grid {
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    grid-template-rows: auto;
}

@media screen and (max-width: 1024px){
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 14px;
    }
}

@media screen and (max-width: 800px){
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
    }
}

@media screen and (max-width: 320px){
    .photo-grid {
        grid-template-columns: 1fr;
        grid-gap: 12px;
    }
}