.header__lang {
    list-style: none;
    font-weight: 400;
    margin: 0;
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}