.content {
    margin: 0 auto;
    max-width: 1184px;
    border: 1px solid rebeccapurple;
}

@media screen and (max-width: 1270px){
    .content {
        margin: 0 48px;
    }
}

@media screen and (max-width: 800px){
    .content {
        margin: 0 24px;
    }
}
