.cover {
    position: relative;
}

.cover:hover .cover__background
{
    transition: .5s;
    opacity: .3;
    cursor: pointer;
}

@media screen and (max-width: 1024px){
    .cover {
        margin-left: -48px;
        margin-right: -48px;
    }
}