.cover:hover .cover__background
{
    transition: .5s;
    opacity: .3;
    cursor: pointer;
}

@media screen and (max-width: 1024px){
    .cover {
        margin-left: -48px;
        margin-right: -48px;
    }
}

@media screen and (max-width: 800px){
    .cover {
        margin-left: -24px;
        margin-right: -24px;
    }
}

@media screen and (max-width: 320px){
    .cover {
        margin-left: -16px;
        margin-right: -16px;
    }
}